<% layout('./layouts/boilerplate.ejs') -%>
    <div class="row">
        <div class="col-8 offset-2 mt-1">
            <h3>Edit list</h3>
            <form class="needs-validation" action="/listings/<%= list._id %>?_method=PUT"  method="post" enctype="multipart/form-data" novalidate>

                <div class="mb-2">
                    <label for="title" class="form-label">Title :</label>
                    <input name="listing[title]" value="<%= list.title %>" class="form-control" type="text" required>
                    <div class="invalid-feedback">enter valid title</div>
                </div>

                <div class="mb-2">
                    <label for="description" class="form-label">Description :</label>
                    <textarea name="listing[description]" class="form-control"
                        required><%= list.description %></textarea>
                </div>

                <div class="mb-2">
                    <label for="imagePreview" class="form-label">original Image:</label> <br>
                    <% console.log("in ejs",list); %>
                    <% if (list.image && list.image.url) { %>
                        <img src="<%= list.image.url.replace('/upload/', '/upload/w_400,h_300,c_fill,q_auto,f_auto/') %>"
                             alt="Listing Image" 
                             class="img-thumbnail" 
                             style="max-width: 300px;">
                    <% } %>                   
                </div>

                <div class="mb-2">
                    <label for="image" class="form-label">Upload new Image:</label>
                    <input name="listing[image]" class="form-control" type="file" >
                </div>

                <div class="mb-2">
                    <label for="price" class="form-label">Price :</label>
                    <input name="listing[price]" value="<%= list.price %>" class="form-control" type="number" required>
                </div>

                <div class="mb-2">
                    <label for="location" class="form-label">Location :</label>
                    <input name="listing[location]" value="<%= list.location %>" class="form-control" type="text"
                        required>
                </div>

                <div class="mb-2">
                    <label for="country" class="form-label">Country :</label>
                    <input name="listing[country]" class="form-control" value="<%= list.country %>" type="text"
                        required>
                </div>
                <br>
                <button class="btn bt">Edit</button>
                <br>
            </form>
        </div>
    </div>