<% layout('./layouts/boilerplate.ejs') -%>

        <br>
        <h3>All listings </h3>
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            <% for(listing of allList){ %>
                <a href="/listings/<%= listing._id %>" class="card-link col" style="width: 18rem;">
                    <div class="card" style="width: 100%;" >
                        <img src="<%= listing.image.url %>" style="height: 18rem;" class="card-img-top"
                            alt="<%= listing.image.filename %>">
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8360; <%= listing.price.toLocaleString('ur-PK') %>/ night
                            </p>
                        </div>

                    </div>
                </a>
                <% } %>
        </div>

        