<% layout('./layouts/boilerplate.ejs') -%>

        <h3>All listings </h3>
        <div class="card-holder">
            <% for(listing of allList){ %>
                <a href="/listings/<%= listing._id %>" class="card-link">
                    <div class="list-card" style="width: 100%;" >
                        <img src="<%= listing.image.url %>"  class="list-card-img"
                             alt="listing-image">
                             <!-- alt="<%= listing.image.filename %>"-->
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8360; <%= listing.price.toLocaleString('ur-PK') %>/ night
                            </p>
                        </div>

                    </div>
                </a>
                <% } %>
        </div>

        