<% layout('./layouts/boilerplate.ejs') -%>
<body>
    <h3>your selected list detail :</h3>
    <ul>
        <li><%= list.title %></li>
        <li><%= list.description %></li>
        <li>&#8360; <%= list.price.toLocaleString('ur-PK') %></li>
        <li><%= list.location %></li>
        <li><%= list.country %></li>
    </ul>
    <a href="/listings/<%= list._id %>/edit"><button>Edit this list</button></a>
</body>
